<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONF_Bearer_Token</key>
	<string>c9d78433f289b292d912cb212bd4f2d500647e08557b15b30de5abaf4209317d</string>
</dict>
</plist>
